doctype html 
html 
  head 
    title= "TheOldGuide"
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href='/css/normalize.css')
    link(rel="stylesheet", href='/css/Grid.css')
    link(rel="stylesheet", href='/css/styles.css')
    link(rel="stylesheet", href='/css/ionicons.min.css')
    
  
  body 
    header 
      nav 
        .row 
          ul.main-nav
            li
              a(href="#") SERVICES
        
            li 
              a(href="#") CAREGIVERS
                
            li 
              a(href="#") LOCATIONS
                
            li 
              a(href="#") BLOG
                
            li 
              a(href="#") RESOURCES
                 
            li 
              a(href="#") ABOUT US
              
    
      .hero-text-box 
        h1 Old Guide <br>Caregivers Foundation
        h3#headTitle Caregiver guide to technology
        
      
    section.section-features
      .row 
        h2 We have plans &mdash; for your future
      .row
        .col.span-1-of-3.box
          i.ion-ios-briefcase-outline.icon-big
          h3 About Us 
          p
            | Oldguide is committed to finding the best solutions
            | that help elderly people transition to their own
            | home safely. We work to make services like our
            | hospital-to-home transition care affordable for everyone.
        .col.span-1-of-3.box
          i.ion-ios-location.icon-big
          h3 Locations
          p
            | Asking for help is not easy, losing your independence may be your greatest fear.
            | We understand, and we want to be there for you, by your side, every step of the way.
        .col.span-1-of-3.box
          i.ion-speakerphone.icon-big
          h3 Learn More
          p
            | To learn more about
            | Smooth-Transition Care and find the cost 
            | in your area, please contact us today to experience the Old Guide difference.
        
                
            
    
    section.section-2 
          .row 
            .col.span-1-of-2
              ul.subsec-1
                li
                  figure.showcase-1
                    img(src="/css/images/6.jpg")
            .col.span-1-of-2
              h2 Services
              .Services
                a(href="#") Companion Care
              .Services
                a(href="#") Homemaker Care
              .Services
                a(href="#") Personal Care
              .Services
                a(href="#") Alzheimer's/Parkison Care
              .Services
                a(href="#") Live-in Care
              .Services
                a(href="#") End-of-Life Care
              .Services
                a(href="#") Post-Surgery and Hospital Transition Care
              .Services
                a(href="#") Medication Reminders
              .Services
                a(href="#") Meal Preparation
              .Services
                a(href="#") Incidental Transportation
    
    section.section-3
    section.section-4.mission-box
      .row-1 
        h2 Our Mission
        p 
          | For many older people, home is everything. It’s a window to the past, a safe
          | haven for the present and the legacy they long to leave for the next generation.
          | The husband-and- wife founders of Old Guide have been helping seniors stay in
          | their homes, happily and safely. Now a nationally franchised but still family-run
          | business, Old Guide offers high-quality in-home care at affordable rates.
          | Our one-on- one services are provided when, where and how you want them.
          | They include companionship, meal preparation, hygiene assistance, medication
          | reminders, transportation and more.
        a.btn-1.btn-full(href="#") Learn more &rarr;  
        
    section.section-5
      .row
        .col.span-1-of-2.steps-box
          img.app-screen(src="/css/images/11.png")
        .col.span-1-of-2.steps-box 
          h2#screen-process Caregiver screening process
          .works-step
            div 1 
            p Phone Interview 
          .works-step
            div 2 
            p Application Review 
          .works-step
            div 3 
            p Face-to-Face Interview 
          .works-step
            div 4 
            p Experience Validation
          .works-step
            div 5 
            p Skills Assessment 
          .works-step
            div 6 
            p Backround Check and screenings
          .works-step
            div 7 
            p Orientation and Continuing Education
          a.btn-1.btn-full(href="#") Learn more &rarr;  
        
    section.section-form 
      .row 
        h2 We're happy to hear from you 
      .row 
        form.contact-form(method="post" action="#")
          .row 
            .col.span-1-of-3
              label(for="name") Name 
            .col.span-2-of-3
              input#name(type="text" name="name" placeholder="Your name" required)
          .row
            .col.span-1-of-3
              label(for="email") Email
            .col.span-2-of-3
              input#email(type="email" name="name" placeholder="Your Email" required)
                      
          .row
            .col.span-1-of-3
              label(for="find-us") How did you find us?
            .col.span-2-of-3
              select#find-us(name="find-us")
                option(value="friends" selected) Friends
                option(value="search" ) Search engine
                option(value="ad" ) Advertisement
                option(value="other") Other
          .row
            .col.span-1-of-3
              label Drop us a line
            .col.span-2-of-3
              textarea(name="message" placeholder="Your message")
          .row
            .col.span-1-of-3
              label &nbsp;
            .col.span-2-of-3
              input(type="submit" value="Send")
                
                
    footer 
      .row 
        .col.span-1-of-2
          ul.footer-nav 
            li 
              a(href="#") About us 
            li
              a(href="#") Services
            li
              a(href="#") Caregivers
            li
              a(href="#") Location
            li
              a(href="#") Blog   
        .col.span-1-of-2
          ul.social-links 
            li
              a(href="#")
                i.ion-social-facebook 
      .row 
        p Copyright &copy; 2017 by Luis Castillo. All rights reserved               
